@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #1a73e8; /* Standard Corporate Blue */
    --color-primary-dark: #1557b0;
    --color-background-light: #ffffff;
    --color-background-dark: #1a1c1e;

    --font-display: "Inter", "Segoe UI", Tahoma, sans-serif;

    --radius-DEFAULT: 0.25rem;
    --radius-lg: 0.375rem;
    --radius-xl: 0.5rem;
    --radius-full: 9999px;
}

@layer base {
    body {
        @apply font-display text-[#202124] dark:text-gray-200 bg-background-light dark:bg-background-dark;
    }
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}